name: Publicar_en_DockerHub

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar código
        uses: actions/checkout@v3

      # --- NUEVO PASO DE DEPURACIÓN ---
      - name: Verificar si los Secrets existen
        run: |
          if [ -z "${{ secrets.DOCKERHUB_USERNAME }}" ]; then echo "ERROR: USERNAME está vacío"; else echo "OK: USERNAME tiene contenido"; fi
          if [ -z "${{ secrets.DOCKERHUB_TOKEN }}" ]; then echo "ERROR: TOKEN está vacío"; else echo "OK: TOKEN tiene contenido"; fi
      # --------------------------------

      - name: Login en Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Construir y Subir Imagen
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/mi-web-estatica:latest